$color-logo: #FFFFFF;
$color-main-nav: #F06C64;
$color-bg: #2D303A;
$color-bg-border: #323746;;
$color-controls: #E94348;
$color-screen: #C7C7C7;
$color-screen-black: #161616;
$color-camera: #EB5055;
$color-camera-around: #D8D8D8;
$color-home: #BABABA;
$color-home-around: #FAFAFA;
$color-speaker: #ACACAC;
$color-body-phone: #F2F2F2;
$color-slider-bg: #F06C64;
$color-slider-shadow: #EA676B;

$content-width: 1020px;
$tablet-width: 768px;

