$color-logo: #FFFFFF;
$color-main-nav: #F06C64;
$color-bg: #2D303A;
$color-bg-border: #323746;

$color-controls: #E94348;
$color-screen: #C7C7C7;
$color-screen-black: #161616;
$color-camera: #EB5055;
$color-camera-around: #D8D8D8;
$color-home: #BABABA;
$color-home-around: #FAFAFA;
$color-speaker: #ACACAC;
$color-body-phone: #F2F2F2;
$color-slider-bg: #F06C64;
$color-slider-shadow: #EA676B;

$color-services-background: #F2F2F2;
$color-services-shadow: #FFFFFF;
$color-h2-h3: #666D89;
$color-p: #767E9E;

$color-portfolio-bg: #2D303A;
$color-portfolio-border: #323746;

$color-tag_dart: #767E9E;
$color-tag_dart-border: #767E9E;
$color-tag_selected: #DEDEDE;
$color-tag_selected-border: #bbbbbb;

$content-width: 1020px;
$tablet-width: 768px;

