@mixin font($size, $weight, $height, $style: normal, $margin: 0, $family: Lato) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  margin: $margin;
  font-family: $family;
}

@mixin tag($padding: 4px 5px, $border-radius: 5px) {
  padding: $padding;
  border-radius: $border-radius;
}

@mixin layout-2-columns($display: grid, $columns: 1fr 3fr) {
  display: $display;
  grid-template-columns: $columns;
}

@mixin layout-3-columns($display: grid, $columns: 1fr 1fr 1fr, $rows: 1fr 1fr) {
  display: $display;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

@mixin layout-4-columns($display: grid, $grid-template-columns: 1fr 1fr 1fr 1fr, $grid-template-rows: 1fr 1fr 1fr){
  display: $display;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;
  
}

@mixin flex($display: flex, $align-items: center, $justify-content: space-between){
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin media-1020 {
  @media (max-width: $content-small-width) { @content; }
}

@mixin media-768 {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-375 {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin  media-320  {
  @media (max-width: $mobile-small-width) { @content; }
}