%hamburger-line {
  display: none;
  content: '';
  position: absolute;
  background: $color-logo;
  border-radius: 5px;
  height: 2.4px;
  width: 100%;
  @include media-768 {
    display: inline-block;
  }
  @include media-375 {
    display: inline-block;
  }
  @include media-320 {
    display: inline-block;
  }
}

.hamburger {
  display: none;
  position: relative;
  z-index: 100;
  width: 25px;
  height: 20px;
  @include media-768 {
    display: inline-block;
    margin-left: 20px;
  }
  @include media-375 {
    display: inline-block;
  }
  @include media-320 {
    display: inline-block;
  }
  &::before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }
  &::after {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}

.hamburger-rotate {
  transform: rotate(90deg);
  transition: all ease 0.3s;
}

.hamburger__line {
 @extend %hamburger-line;
 top: calc(50% - 1.2px);
 left: 0;
}

.navigation-hamburger>* {
  background: $color-bg;
  width: 278px;
  height: 812px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 162px 0 0 71px;
  top: -800px;
  left: 0;
  z-index: 50;
  transition: all ease 1.3s;
  display: none;
  @include media-768 {
    display: flex;
  }
  li {
    list-style: none;
    cursor: pointer;
    padding-top: 27px;
    text-align: left;
    @include font(2.4rem, bold, 2.9rem);
  letter-spacing: -0.035em
  }
}

.burger-menu>* {
  top: 70px;
  transition: all ease 1.3s;
}