html {
  font-size: 10px;
}

h1 {
  margin: 0;
  // margin: 29px 0 35px 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  color: $color-h2-h3;
}

h3 {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: $color-h2-h3;
}

p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3.0rem;
  color: $color-p;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", Verdana, sans-serif;
}
 ul {
   margin: 0;
 }