.footer {
  background: $color-bg;
}
.footer-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  margin-left: 40px;
}

.footer-social-network {
  padding: 22px 42px;
}

.footer-circle {
  margin-left: 8px;
  cursor: pointer;
}

.facebook:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.google:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.twitter:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}

.linkedin:hover {
  filter: brightness(1.8);
  transition: 0.5s;
}
