.header {
  color: $color-logo;
  
  // padding: 29px 0 39px 0;
}

// .header__wrapper {
//   padding: 29px 0 33px 0;
// }

.header__main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-bg;
}

.header__border {
  display: flex;
  background: $color-bg-border;
  padding: 3px 0;
}
.navigation {
  margin: 42px 40px 42px 0;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: right;
  letter-spacing: -0.035em;
}

.navigation__link-color {
  list-style: none;
  color: $color-main-nav;
  padding: 0 10px;
}

.navigation__link {
  padding: 0 10px;
  margin-left: 30px;
}

.logo {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.star-color {
  color: $color-main-nav;
}