.footer {
  background: $color-bg;
  position: relative;
  top: 72px;
  @include media-768 {
    top: 60px;  
  }
}
.footer-bg {
  @include flex();
}

.copyright {
  margin-left: 40px;
}

.footer-social-network {
  padding: 22px 42px;
}
