.header {
  color: $color-logo;
  background: $color-bg;
  border-bottom: 6px solid $color-bg-border;
}

.header__main {
  @include flex();
}

.header__navigation {
  margin: 42px 40px 33px;
}

.logo {
  display: inline-block;
  color: $color-logo;
  text-decoration: none;
  margin: 29px 0 35px 40px;
}

.star-color {
  color: $color-main-nav;
}
