.portfolio {
  border-bottom: 6px solid $color-portfolio-border;
  background: $color-portfolio-bg;
  position: relative;
  top: 72px;
  @include media-768 {
    top: 60px;  
    border-bottom: none;
  }
}
.portfolio-bg {
  margin: auto;
  padding-bottom: 68px;
}

.portfolio-section-header {
  padding: 59px 40px 0 40px;
}

.portfolio-description {
  margin-top: 14px;
}

.portfolio__tags {
  padding: 18px 0 34px 40px;
  color: $color-tag_dart;
  pointer-events: none;
}

.tag {
  pointer-events: auto;
}

.layout-4-column {
  padding: 0 40px;
}

.portfolio-image img {
  width: 100%;
  height: auto;
}
